{
  "targets": {
    "development": {
      "url": "http://localhost:5984/hekyll",
      "default": true
    }
  },
  "ddocs": {
    "hekyll": "apps/hekyll/ddoc.js"
  },
  "models": "apps/hekyll/lib/models.js"
}
