{
  "targets": {
    "development": {
      "url": "http://localhost:5984/hekyll",
      "default": true
    },
    "production": {
      "url": "http://<your>.couch.com/db",
      "user": "someadmin"
    }
  },
  "defaults": {
    "model": "post"  
  },
  "models": "lib/models.js"
}
