article
  header.article_header
    h2
      a(href='/posts/{{_id}}') {{ title }}
    time {{ published }}
    |  by 
    a(href='/authors/{{authorslug}}') {{ author }}

  {{{ body }}}

  footer.article_footer
    p#tags Tagged with: 
      {{#tags}}
      a(href='/posts/tagged/{{.}}') {{.}}
      {{/tags}}
      {{^tags}} untagged {{/tags}}
