!!!5
html
  head
    {{>head}}

  body
    {{>header}}

    {{#atom_current}}
    p#atom_link {{title}} posts
      span.feed
        a(href='{{href}}') 
          img(src='/images/feed.png')
    {{/atom_current}}

    {{#posts}}
    {{>summary}}
    {{/posts}}

    {{>footer}}
